<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Logiweb</title>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navigation"></nav>
<div class="container-fluid">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h3>Drivers</h3>
                <p>Best drivers ever</p>
            </div>
            <div class="col">
                <h3>Employees</h3>
                <p>Best employees ever</p>
            </div>
            <div class="col">
                <h3>Truck</h3>
                <p>Best trucks ever</p>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/navbar.html :: login"></div>

<script th:replace="fragments/script.html :: jquery"></script>
<script th:replace="fragments/script.html :: popper"></script>
<script th:replace="fragments/script.html :: bootstrap"></script>
</body>
</html>