<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Orders</title>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navigation"></nav>
<div class="container">
    <div class="row">
        <div class="col">
            <p>Welcome, <span th:text="${shiftDetails.lastName + ' ' + shiftDetails.firstName}"></span>!</p>
            <p>Your worked hours in this month: <span th:text="${shiftDetails.hoursWorked}"></span> </p>
            <form th:method="PATCH" th:action="@{/profile/shift}" th:object="${shiftDetails}">
                    <div class="row">
                        <div class="col">
                            <span>Your status: </span>
                            <select th:field="*{driverStatus}">
                                <option th:value="${shiftDetails.driverStatus}" th:text="${shiftDetails.driverStatus}" selected />
                                <option th:if="${shiftDetails.driverStatus != ds}" th:each="ds : ${driverStatus}" th:value="${ds}" th:text="${ds}" />
                            </select>
                        </div>
                    </div>
                <button th:if="${orderDetails?.completed == false}" type="submit" class="btn btn-outline-primary">Change</button>
            </form>

            <form th:method="PATCH" th:action="@{/profile/finish}">
                <button th:if="${orderDetails?.completed == true}" type="submit" class="btn btn-outline-primary">Finish</button>
            </form>
        </div>
        <div class="col">
            <div class="row" >
                <div class="col">
                    <span>Personal ID : </span>
                    <h5 id="user_id" th:text="${shiftDetails.id}" />
                </div>
            </div>
            <div class="row">
                <p>Your current location: <span th:text="${shiftDetails.cityName}"></span></p>
            </div>
            <div th:if="${orderDetails}" class="row">
                Change city to :
                <div th:if="${orderDetails.nextCity.cityCode != -1}">
                    <a class="btn btn-outline-secondary" th:href="@{/profile/{id}/changeCity(id=${orderDetails.id})}"
                       th:text="${orderDetails.nextCity.cityName}"></a>
                </div>
                <div th:unless="${orderDetails.nextCity.cityCode != -1}">
                    <p th:text="${orderDetails.nextCity.cityName}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div th:if="${orderDetails}">
        <div th:if="${orderDetails.completed == false}">
            <div class="row">
                <div th:if="${orderDetails.completed == false}" class="col">
                    <div th:if="${orderDetails?.coDrivers}">
                        <p>Co-Drivers</p>
                        <ul th:each="coDriver : ${orderDetails?.coDrivers}">
                            <li>
                                <span th:text="${'#' + coDriver.id + ': ' + coDriver.lastName + ' ' + coDriver.firstName}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered border-4 border-dark">
                    <tr>
                        <th>Order ID</th>
                        <th>Path</th>
                        <th>Remaining travel time</th>
                        <th>Truck ID</th>
                    </tr>
                    <tr>
                        <td th:text="${orderDetails.id}"></td>
                        <td th:text="${orderDetails.prettyPath}"></td>
                        <td th:text="${orderDetails.remainingWorkingHours}"></td>
                        <td th:text="${orderDetails.truckId}"></td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col">
                    <form th:method="PATCH" th:action="@{/profile/cargo}" th:object="${cargoIds}">
                    <label for="path">Order Waypoints</label>
                    <table id="path" class="table table-bordered border-4 border-dark">
                        <thead>
                        <tr>
                            <th>City</th>
                            <th>Loading Status</th>
                            <th>Cargo</th>
                            <th>Cargo Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="waypoint : ${orderDetails.waypoints}">
                            <td th:text="${waypoint.cityName}"></td>
                            <td th:text="${waypoint.type}"></td>
                            <td th:text="${waypoint.cargoTitle}"></td>
                            <td th:text="${waypoint.cargoStatus}"></td>
                            <td>
                                <div th:if="${waypoint.cityCode == orderDetails.remainingPath.peekFirst().cityCode}">
                                    <div th:if="${waypoint.type.ordinal() == 0}">
                                        <div th:if="${waypoint.cargoStatus.ordinal() == 0}">Received
                                            <input  type="checkbox" th:value="${waypoint.cargoId}" th:field="*{ids}"/>
                                        </div>
                                        <div th:unless="${waypoint.cargoStatus.ordinal() == 0}">
                                            -
                                        </div>
                                    </div>
                                    <div th:unless="${waypoint.type.ordinal() == 0}">
                                        <div th:if="${waypoint.cargoStatus.ordinal() == 1}">Unloaded
                                            <input  type="checkbox" th:value="${waypoint.cargoId}" th:field="*{ids}"/>
                                        </div>
                                        <div th:unless="${waypoint.cargoStatus.ordinal() == 1}">
                                            -
                                        </div>
                                    </div>
                                </div>
                                <div th:unless="${waypoint.cityCode ==  orderDetails.remainingPath.peekFirst().cityCode}">
                                    You need to be in current city for Action
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                        <button type="submit"  class="btn btn-outline-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
        <div th:unless="${orderDetails.completed == false}">
            Your order is completed!
        </div>
    </div>
    <div th:unless="${orderDetails}">
        You don't have an order yet.
    </div>
</div>
<script th:replace="fragments/script.html :: jquery"></script>
<script th:replace="fragments/script.html :: popper"></script>
<script th:replace="fragments/script.html :: bootstrap"></script>
</body>
</html>