<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Orders</title>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navigation"></nav>

<div th:if="${message}" class="alert alert-warning alert-dismissible fade show" role="alert">
    <p th:text="${message}"></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container px-4">
    <div class="row gx-5 justify-content-center align-items-center">
        <div  class="p-3 border bg-light">
            <form th:method="PATCH" th:action="@{/profile/shift}" th:object="${shiftDetails}">
                <p>Status </p>
                <select th:field="*{driverStatus}">
                    <option th:value="${shiftDetails.driverStatus}" th:text="${shiftDetails.driverStatus.status}" selected />
                    <option th:if="${shiftDetails.driverStatus != ds}" th:each="ds : ${driverStatus}" th:value="${ds}" th:text="${ds.status}" />
                </select>
                <button th:if="${orderDetails?.completed == false}" type="submit" class="btn btn-outline-primary">Change</button>
            </form>
        </div>
    </div>
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <table class="table table-bordered border-4 border-dark">
                    <tr>
                        <th>Personal Information</th>
                        <td>
                            <p th:text="${shiftDetails.lastName + ' ' + shiftDetails.firstName}"><span th:text="${'(ID:' + shiftDetails.id + ')'}"></span></p>
                        </td>
                    </tr>
                    <tr>
                        <th>Worked hours</th>
                        <td th:text="${shiftDetails.hoursWorked}" />
                    </tr>
                    <tr>
                        <th>Current location</th>
                        <td th:text="${shiftDetails.cityName}"></td>
                    </tr>
                </table>
            </div>
            <div class="p-3 border bg-light" th:if="${orderDetails?.completed == false}">
                <p>Available Actions</p>
                <table class="table table-bordered border-4 border-dark">
                    <tr th:if="${orderDetails.nextCity.cityCode != -1
                    && orderDetails.loadCargo.isEmpty()
                    && orderDetails.unloadCargo.isEmpty()}">
                        <th>Change City</th>
                        <td>
                            <a class="btn btn-outline-secondary" th:href="@{/profile/{id}/changeCity(id=${orderDetails.id})}"
                               th:text="${orderDetails.nextCity.cityName}"></a>
                        </td>
                    </tr>
                    <tr th:if="${orderDetails.loadCargo.isEmpty() == false}">
                        <th>Load Cargo</th>
                        <td>
                            <form th:method="PATCH" th:action="@{/profile/cargo}" th:object="${cargoIds}">
                                <ul th:each="cargo : ${orderDetails.loadCargo}">
                                    <li>
                                        <input  type="checkbox" th:value="${cargo.cargoId}" th:field="*{ids}"/>
                                        <span th:text="${cargo.cargoTitle}"></span>
                                    </li>
                                </ul>
                                <button type="submit"  class="btn btn-outline-primary">Load</button>
                            </form>
                        </td>
                    </tr>
                    <tr th:if="${!orderDetails.unloadCargo.isEmpty()}">
                        <th>Unload Cargo</th>
                        <td>
                            <form th:method="PATCH" th:action="@{/profile/cargo}" th:object="${cargoIds}">
                                <ul th:each="cargo : ${orderDetails.unloadCargo}">
                                    <li>
                                        <input  type="checkbox" th:value="${cargo.cargoId}" th:field="*{ids}"/>
                                        <span th:text="${cargo.cargoTitle}"></span>
                                    </li>
                                </ul>
                                <button type="submit"  class="btn btn-outline-primary">Unload</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col" th:if="${orderDetails}">
            <div class="p-3 border bg-light">
                <p th:if="${orderDetails.completed}">Order is completed</p>
                <table class="table table-bordered border-4 border-dark">
                    <tr>
                        <th>Order ID</th>
                        <td th:text="${orderDetails.id}" />
                    </tr>
                    <tr>
                        <th>Path</th>
                        <td th:text="${orderDetails.prettyPath}" />
                    </tr>
                    <tr>
                        <th>Remaining travel time</th>
                        <td th:text="${orderDetails.remainingWorkingHours}" />
                    </tr>
                    <tr>
                        <th>Truck ID</th>
                        <td th:text="${orderDetails.truckId}" />
                    </tr>
                    <tr>
                        <th>Co-Drivers</th>
                        <td>
                            <ul th:each="coDriver : ${orderDetails?.coDrivers}">
                                <li>
                                    <span th:text="${'#' + coDriver.id + ': ' + coDriver.lastName + ' ' + coDriver.firstName}"></span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col" th:unless="${orderDetails}">
            <div class="p-3 border bg-light">
                <p>No order to complete</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div th:if="${orderDetails}">
        <div th:if="${orderDetails.completed == false}">
            <div class="row">
                <div class="col">
                    <label for="path">Order Waypoints</label>
                    <table id="path" class="table table-bordered border-4 border-dark">
                        <thead>
                        <tr>
                            <th>City</th>
                            <th>Loading Status</th>
                            <th>Cargo</th>
                            <th>Cargo Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="waypoint : ${orderDetails.waypoints}">
                            <td th:text="${waypoint.cityName}"></td>
                            <td th:text="${waypoint.type}"></td>
                            <td th:text="${waypoint.cargoTitle}"></td>
                            <td th:text="${waypoint.cargoStatus.status}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments/script.html :: jquery"></script>
<script th:replace="fragments/script.html :: popper"></script>
<script th:replace="fragments/script.html :: bootstrap"></script>
</body>
</html>