<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Create Driver</title>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navigation"></nav>
<div align="center">
    <h1>Create Driver</h1>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <form th:method="POST" th:action="@{/drivers}" th:object="${driver}" >
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" th:field="*{email}" id="email" placeholder="Ivan">
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" th:field="*{password}" id="password">
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
                    </div>
                    <div class="form-group row">
                        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{firstName}" id="firstName" placeholder="Ivan">
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">first name error</div>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{lastName}" id="lastName" placeholder="Petrov">
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">last name error</div>
                    </div>
                    <div class="form-group row">
                        <label for="currentCity" class="col-sm-2 col-form-label">Current City</label>
                        <div class="col-sm-10">
                            <select th:field="*{cityCode}" id="currentCity">
                                <option th:each="city : ${cities}" th:value="${city.cityCode}" th:text="${city.cityName}" />
                            </select>
                        </div>
                        <div style="color:red" th:if="${#fields.hasErrors('cityCode')}" th:errors="*{cityCode}">city error</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<a th:href="@{/drivers/}">Back to Drivers List</a>
<script th:replace="fragments/script.html :: jquery"></script>
<script th:replace="fragments/script.html :: popper"></script>
<script th:replace="fragments/script.html :: bootstrap"></script>
</body>
</html>