<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Drivers</title>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navigation"></nav>
<div align="center">
    <h1>Drivers List</h1>
    <a th:href="@{/drivers/new}">Create driver</a>
    <table class="table table-bordered border-4 border-dark">
        <thead class="thead-light">
        <tr>
            <th scope="col"> #</th>
            <th scope="col"> First Name</th>
            <th scope="col"> Last Name</th>
            <th scope="col"> Hours Worked</th>
            <th scope="col"> Status</th>
            <th scope="col"> Current City</th>
            <th scope="col"> Current Truck</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="driver : ${drivers}">
            <td scope="row" th:text="${driver.id}" />
            <td th:text="${driver.firstName}" />
            <td th:text="${driver.lastName}" />
            <td th:text="${driver.hoursWorked}" />
            <td th:text="${driver.driverStatus.name()}" />
            <td th:text="${driver.cityName}" />
            <td>
                <span th:text="${driver?.truckId}" />
                <span th:if="${driver.truckId == null}">-</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:replace="fragments/script.html :: jquery"></script>
<script th:replace="fragments/script.html :: popper"></script>
<script th:replace="fragments/script.html :: bootstrap"></script>
</body>
</html>