html,
body {
    height: 100%;
}
body {
    display: grid;
    width: 100%;
    font-family: Inconsolata, monospace;
}
.content-table{
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.8em;
    min-width: 500px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0);
}

.content-table-header {
    text-align:center;
    background-color: #474747;
    border-bottom:1px solid #BBBBBB;
    padding:20px;
}

.content-table-odd-row {
    text-align:center;
    color: #1a1a1a;
    padding: 20px;
    border-bottom:1px solid #BBBBBB;
}


.content-table-even-row {
    text-align:center;
    color: #1a1a1a;
    padding: 20px;
    background-color: #f3f3f3;
    border-bottom:1px solid #BBBBBB;
}