<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Orders</title>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navigation"></nav>
<div align="center">
    <h1>Order History</h1>
    <table class="table table-bordered border-4 border-dark">

        <thead class="thead-light">
        <tr>
            <th scope="col"> #</th>
            <th scope="col"> Status</th>
            <th scope="col"> Path</th>
            <th scope="col"> Maximum Capacity</th>
            <th scope="col"> Truck</th>
            <th scope="col"> Drivers in Shift</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="order : ${orders}">
            <td scope="row" th:text="${order.orderId}" />
            <td th:text="${order.status.status}"/>
            <td th:text="${order.prettyPath}"/>
            <td th:text="${order.maxCapacity}"></td>
            <td th:text="${order.truckId}"/>
            <td>
                <ul th:each="driver : ${order?.drivers}">
                    <li th:text="${'#' + driver.id + ':' + driver.lastName + ' ' + driver.firstName}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
                <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${currentPage != i}" th:href="@{/orders/page/{number}(number=${i})}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{/orders/page/{number}(number=${totalPages})}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments/script.html :: jquery"></script>
<script th:replace="fragments/script.html :: popper"></script>
<script th:replace="fragments/script.html :: bootstrap"></script>
</body>
</html>