<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Orders</title>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navigation"></nav>
<div align="center">
    <h1>Order List</h1>
    <form action="#" th:action="@{/orders/new}" method="GET">
        <button type="submit" class="btn btn-primary">Create Order</button>
    </form>
    <table class="table table-bordered border-4 border-dark">

        <thead class="thead-light">
        <tr>
            <th scope="col"> #</th>
            <th scope="col"> Status</th>
            <th scope="col"> Path</th>
            <th scope="col"> Maximum Capacity</th>
            <th scope="col"> Truck</th>
            <th scope="col"> Drivers in Shift</th>
            <th scope="col"> Cargo</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="order : ${orders}">
            <td scope="row" th:text="${order.orderId}" />
            <td>
                <span th:if="${order.completed == true}">Completed</span>
                <span th:unless="${order.completed == true}">Uncompleted</span>
            </td>
            <td th:text="${order.prettyPath}"/>
            <td th:text="${order.maxCapacity}"></td>
            <td>
                <div th:if="${order.completed == false}">
                    <span th:text="${order?.truckId}" />
                    <a th:href="@{/orders/{id}/trucks(id=${order.orderId})}"
                       th:if="${order.truckId == null}">Choose Truck</a>
                </div>
                <div th:unless="${order.completed == false}" >
                    -
                </div>
            </td>
            <td>
                <div th:if="${order.completed == false}">
                    <div th:if="${order.truckId == null}">
                        <a th:href="@{/orders/{id}/trucks(id=${order.orderId})}">Choose Truck</a>
                    </div>
                    <div th:unless="${order.truckId == null}">
                        <div th:if="${order?.drivers.size() == order.shiftSize}" >
                            <ul th:each="driver : ${order?.drivers}">
                                <li th:text="${'#' + driver.id + ':' + driver.lastName + ' ' + driver.firstName}"></li>
                            </ul>
                        </div>
                        <div th:unless="${order?.drivers.size() == order.shiftSize}">
                            <a th:href="@{/orders/{id}/drivers(id=${order.orderId})}" th:text="${order.shiftSize}"></a>
                        </div>
                    </div>
                </div>
                <div th:unless="${order.completed == false}">
                    -
                </div>
            </td>
            <td><a th:href="@{/orders/{id}/cargo(id=${order.orderId})}">Go to Cargo</a></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:replace="fragments/script.html :: jquery"></script>
<script th:replace="fragments/script.html :: popper"></script>
<script th:replace="fragments/script.html :: bootstrap"></script>
</body>
</html>