<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
<form action="#" th:action="@{/login}" th:method="POST">
    <div class="container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="Email">Email</span>
            </div>
            <input type="text" name="username" class="form-control" placeholder="email" aria-label="Username" aria-describedby="username">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="password">Password</span>
            </div>
            <input type="password" name="password" class="form-control" placeholder="password" aria-label="Password" aria-describedby="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<script th:replace="fragments/script.html :: jquery"></script>
<script th:replace="fragments/script.html :: popper"></script>
<script th:replace="fragments/script.html :: bootstrap"></script>
</body>
</html>