<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Create Truck</title>
</head>
<body>

<form th:method="POST" th:action="@{/trucks}" th:object="${truck}" >
    <label for="truckId">Identifier</label>
    <input type="text" th:field="*{truckId}" id="truckId" placeholder="Identifier">
    <label for="capacity">Capacity</label>
    <input type="number" th:field="*{capacity}" id="capacity" placeholder="Capacity">
    <label for="currentCity">Current City</label>
    <select th:field="*{currentCityCode}" id="currentCity">
        <option th:each="city : ${cities}" th:value="${city.cityCode}" th:text="${city.cityName}" />
    </select>
    <label for="serviceable">Serviceable</label>
    <input type="checkbox" th:field="*{serviceable}" id="serviceable">
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<a th:href="@{/trucks/}">Back to Users List</a>
<a th:href="@{/trucks/}">Back to Users List</a>
<script th:replace="fragments/script.html :: jquery"></script>
<script th:replace="fragments/script.html :: popper"></script>
<script th:replace="fragments/script.html :: bootstrap"></script>
</body>
</html>