<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Create Truck</title>
</head>
<body>
<h2>Create Truck</h2>

<form action="#" th:action="@{/trucks/}" method="POST">
    <input type="number" th:name="capacity" placeholder="Capacity">
    <input type="text" th:name="currentCity" placeholder="Current City">
    <button type="submit" class="btn btn-primary">Create</button>
</form>
<hr>
<a th:href="@{/trucks/}">Back to Users List</a>
<script th:replace="fragments/script.html :: jquery"></script>
<script th:replace="fragments/script.html :: popper"></script>
<script th:replace="fragments/script.html :: bootstrap"></script>
</body>
</html>