<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edit Truck</title>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navigation"></nav>
<h2>Edit Truck</h2>

<form th:method="PATCH" th:action="@{/trucks/{id}(id=${truck.truckId})}" th:object="${truck}" >
    <input type="number" hidden="true" th:field="*{version}" />
    <div class="form-group row">
        <label for="capacity" class="col-sm-2 col-form-label">Capacity</label>
        <div class="col-sm-10">
            <input type="number" th:field="*{capacity}" id="capacity" placeholder="Capacity">
        </div>
        <div style="color:red" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">capacity error</div>
    </div>
    <div class="form-group row">
        <label for="capacity" class="col-sm-2 col-form-label">Shift Size</label>
        <div class="col-sm-10">
            <input type="number" th:field="*{shiftSize}" id="shiftSize" placeholder="Shift Size">
        </div>
        <div style="color:red" th:if="${#fields.hasErrors('shiftSize')}" th:errors="*{shiftSize}">shift size error</div>
    </div>
    <div class="form-group row">
        <label for="currentCity" class="col-sm-2 col-form-label">Current City</label>
        <div class="col-sm-10">
            <select th:field="*{currentCityCode}" id="currentCity">
                <option th:each="city : ${cities}" th:value="${city.cityCode}" th:text="${city.cityName}" />
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">Serviceable</div>
        <div class="col-sm-10">
            <div class="form-check">
                <input type="checkbox" th:field="*{serviceable}" id="serviceable">
                <label for="serviceable">Truck is Serviceable?</label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
<hr>
<a th:href="@{/trucks/}">Back to Users List</a>
<script th:replace="fragments/script.html :: jquery"></script>
<script th:replace="fragments/script.html :: popper"></script>
<script th:replace="fragments/script.html :: bootstrap"></script>
</body>
</html>